* {
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;

}

body {
    #img_hero {
        /* position: absolute;
        top: 0; */
        width: 100%;
    }

    header {
        position: absolute;
        top: 0;
        /* background: gray; */
        width: 100%;

        display: flex;
        flex-direction: column;
        padding: 10px 20px;


        #header_div_1 {
            /* background: orange; */
            width: 100%;
            height: 112px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 100px;
        }

        #img_logo {
            width: 64px;
            height: 64px;
        }

        #header_div_1_1 {
            display: flex;
            justify-content: center;
            align-items: center;

            div {
                padding: 10px 20px;

                span {
                    font-family: "Raleway";
                    font-weight: 100;
                    font-size: x-large;
                    font-style: normal;
                    color: white
                }

            }

            .call_us {
                background-color: darkred;
                display: flex;
                justify-content: center;
                border: 1px solid white;
                border-radius: 10%;

                #img_phone {
                    width: 32px;
                    height: 32px;
                }
            }
        }

        #header_div_2 {
            width: 100%;
            height: 500px;
            /* background: black; */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;


            span {
                font-family: "Raleway";
                font-style: normal;
                color: white;

            }

            h1 {
                font-size: 96px;
                font-weight: bold;
            }

            h5 {
                font-size: 24px;
                font-weight: 100;
            }
        }
    }

}


main {
    #hto {
        /* background: orange; */
        display: flex;
        flex-direction: column;
        padding: 120px 0;

        h2 {
            display: flex;
            justify-content: center;
            padding-bottom: 64px;

            font-family: "Raleway";
            font-style: normal;
            color: darkred;
            font-size: 80px;
            font-weight: bold;
        }

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 120px;

            div {

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                img {
                    width: 128px;
                    height: 128px;
                }

                h3 {
                    padding-top: 16px;
                    font-family: "Economica";
                    font-size: 56px;
                    font-weight: bold;
                    text-align: center;

                }
            }
        }


    }

    #om {
        padding: 120px 0;
        /* background: lightgray; */

        #om_bg {
            width: 100%;
            height: 100dvh;


        }

        #all_on_bg {
            position: absolute;
            top: 0;
            /* background: lightgrey; */
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 120px 150px;

            #om_title {
                background: red;
                padding-bottom: 64px;
                font-family: "Raleway";
                font-style: normal;
                color: darkred;
                font-size: 80px;
                font-weight: bold;
            }

            #box_middle_food {
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-end;
            }

            .foods_list {
                background: gray;
                display: flex;
                justify-content: flex-start;
                width: 80%;

                #box_foods_imgs {
                    background: lightblue;
                    width: 352px;
                    height: 352px;

                }

                .box_foods_infos {
                    background: rgb(140, 122, 122);
                    display: flex;
                    flex-direction: column;
                    padding: 50px 80px;
                    width: 60%;
                    text-align: left;


                    h3 {
                        padding: 16px 0;
                        font-family: "Economica";
                        font-size: 56px;
                        font-weight: bold;
                        text-align: left;

                    }

                    table {
                        background: rgb(108, 84, 84);
                        padding-bottom: 64px;
                        font-family: "Raleway";
                        font-style: normal;
                        color: rgba(0, 0, 0, 0.36);
                        font-size: 32px;
                        font-weight: bold;

                        tr {
                            width: 200px;
                        }

                        .td_name {}

                        .td_price {}
                    }
                }

            }


        }
    }
}